/Portfolio/nbproject/private/
/Boostrap/nbproject/private/
/Boostrap/build/
/ToDo/nbproject/private/
/Portfolio/build/
/ToDo/build/
/Trail/nbproject/private/
/Trail/build/
/ToDo/dist/
/ArrayProject/nbproject/private/
/ArrayProject/build/
/ShopManagement/nbproject/private/
/Web/nbproject/private/
/BankWeb/nbproject/private/
/ShopManagement/build/
/Message/nbproject/private/
/Message/build/
/WebApplication1/nbproject/private/
/Booking/nbproject/private/
/Booking/build/
/WebApplication2/nbproject/private/